body {
  margin: 0;
  font-family: "Century Gothic", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Georgia, "Century Gothic", Times, serif;
}
